<html>
<head> 
<title> ToDo App </title>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Today's List</h1>
</div>
<br>
<div class="c">
    <br>
    <div class="cin">
<form action ="/addtask" method="POST">
<input type="text" name="newtask" placeholder="add new task">
<button> + </button>
<h2> Added Task </h2>
<% for( var i = 0; i < task.length; i++){ %>
    <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
<% } %>
<br>
</div>
</div>
<br><br><br><br>
<div class="container">
    <br>
<button formaction="/removetask" type="submit" id="top"> Remove if done </button>
<br>
</form>
<br>
</div>
</body>
</html>